<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>пресметка на бруто плата</title>
  <link href="style.css" rel="stylesheet" type="text/css">
  <link href="print.css" rel="stylesheet" type="text/css" media="print">
  <script src="controllers.js"></script>
</head>

<body ng-app="">
   <h1 id="print-header">Информации за придонесите и бруто/нето износот на платата</h1>
   <div id="info">
      <a href="http://dl.dropbox.com/u/13597364/upatstvo_bruto_plata.pdf"><img src="http://dl.dropbox.com/u/13597364/f02a62981db2.png" alt="закон за пресметување на плати"></a>
      <a href="http://www.ujp.gov.mk/mk/javnost/soopstenija/pogledni/356" target="_blank">Стапки на придонесите од задолжително социјално осигурување за 2013 година</a>
   </div>

   <form name="myForm" ng-controller="Calculator">
   <table id="form">
      <tr>
         <td>Бруто:</td>
         <td>
            <input type="number" name="bruto" ng-model="bruto" placeholder="бруто"
               ng-change="bruto_change()" min="{{min_bruto_plata}}"/>
            <span class="error" ng-show="myForm.bruto.$error.number">Не е број!</span>
            <span class="error" ng-show="myForm.bruto.$error.min">Минимум бруто плата е {{min_bruto_plata}}!</span>
            <span class="error" ng-hide="myForm.bruto.$valid">Невалиден број!</span>
         </td>
      </tr>
      <tr>
         <td>Нето:</td>
         <td>
            <input type="number" name="neto" ng-model="neto" placeholder="нето"
               ng-change="neto_change()" min="{{min_neto_plata}}"/>
            <span class="error" ng-show="myForm.neto.$error.number">Не е број!</span>
            <span class="error" ng-show="myForm.neto.$error.min">Минимум нето плата е {{min_neto_plata}}!</span>
            <span class="error" ng-hide="myForm.neto.$valid">Невалиден број!</span>
         </td>
      </tr>
   </table>


   <table id="results">
      <tbody><tr>
         <td>Бруто плата</td>
         <td></td>
         <td>{{bruto}}</td>
      </tr><tr>
         <td>Придонес за пензискo осигурување</td>
         <td>{{k.penzisko * 100}}%</td>
         <td>-</td>
      </tr><tr>
         <td>Придонес за здравствено осигурување</td>
         <td>{{k.zdravstveno * 100}}%</td>
         <td>-</td>
      </tr><tr>
         <td>Придонес за вработување</td>
         <td>{{k.pridones * 100}}%</td>
         <td>-</td>
      </tr><tr>
         <td>Придонес за професионално заболување</td>
         <td>{{k.boluvanje * 100}}%</td>
         <td>-</td>
      </tr><tr>
         <td>Вкупно придонеси</td>
         <td></td>
         <td>{{pridonesi}}</td>
      </tr><tr>
         <td>Бруто - придонеси</td>
         <td></td>
         <td>{{bruto - pridonesi}}</td>
      </tr><tr>
         <td>Даночно ослободување</td>
         <td></td>
         <td>{{danocno_osloboduvanje}}</td>
      </tr><tr>
         <td>Даночна основа</td>
         <td></td>
         <td>{{osnovica_za_danok}}</td>
      </tr><tr>
         <td>Персонален данок</td>
         <td>{{k.personalen * 100}}%</td>
         <td>{{personalec}}</td>
      </tr><tr>
         <td>Вкупно придонеси и данок</td>
         <td></td>
         <td>{{personalec + pridonesi}}</td>
      </tr><tr>
         <td>Нето плата</td>
         <td></td>
         <td>{{neto}}</td>
      </tr>
   </tbody></table>
   </form>

   <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
   <a id="ribbon" href="https://github.com/skopjehacklab/kalkulator.ot.mk"><img
      style="position: absolute; top: 0; left: 0; border: 0;"
      src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png"
      alt="Fork me on GitHub"></a>
</body>
</html>
