body {
  font: 0.8em sans-serif;
}

div.info {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: 150px;
  margin: 0 15px;
  padding: 0;
  font-size: 0.8em;
  text-align: right;
}
div.info img {
  height:64px;
  margin: 0 -10px 25px 0;
}
div.info a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #8f8f8f;
}
div.info a:hover {
  color: #000000;
}

table {
  margin: 0 auto;
  width: 550px;
}

#form tr td {
  padding: 0.3em;
}
#form td:first-child {
  text-align: right;
}
#form input {
  padding: 0.2em;
}

#results {
  border-top: 1px solid #9f9f9f;
  border-bottom: 1px solid #000000;
}
#results tr:first-child {
  font-weight: bold;
}
#results tr:last-child {
  font-weight: bold;
}
#results tr td {
  border-bottom: 1px solid #dfdfdf;
  padding: 1em;
}
#results tr td:first-child {
  width: 340px;
}
#results tr td:last-child {
  text-align:right;
}
