@page {
  size: landscape
}
body {
  padding: 0 20px 20px 20px;
  font: 0.8em sans-serif;
}
#print-header {
  display: block;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #9f9f9f;
  padding: 0 0 20px 0;
}
body > div {
  margin: 0 auto;
  width: 550px;
  padding: 10px 80px;
}
#form, #info, #ribbon {
  display: none;
}
p {
  clear: both;
}
p > * {
  display: block;
  float: left;
  margin:5px 0px;
  padding:5px;
}
#results {
  clear: both;
  margin-top: 20px;
}
#results p {
  border-bottom:1px solid #dfdfdf;
  overflow:hidden;
}
#results p:first-child {
  font-weight:bold;
}
#results p:last-child {
  font-weight:bold;
  border-bottom:1px solid #000000;
}
#results > p > * {
  padding-top:0;
}
#results > p > span:first-child {
  width:340px;
}
#results > p > span:last-child {
  float:right;
  text-align:right;
}
.linkovi {
  display: none;
}
