name: Build and Deploy

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: jorelali/setup-elm@v2
      with:
        elm-version: 0.19.1
    - run: |
        elm make --optimize --output dist/app.js src/Main.elm

    - name: deploy to gh-pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist
        cname: plata.m.ie.mk
